mixin navigation()
    button(class="button_mobile-menu" type="button")
    ul.navigation-list
        //-добавить ссылки
        li.navigation-list__item='Home'
        li.navigation-list__item='Features'
        li.navigation-list__item='Pricing'
        
