@import "./../../assets/scss/vars.scss";
.button_mobile-menu{
    display:none;
}
.navigation-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    li{
        line-height: 24px;
        font-size: 14px;
        font-weight: 400;
        margin-right: 50px;
        &:last-child{
            margin-right: 0;
        }
        a{color:$white;}
    }
}
@media (max-width: 576px) {
    .button_mobile-menu{
        display: block;
    }
    .navigation-list{
        display: none;
    }
}