mixin navigation()
    button(class="button_mobile-menu" type="button")
    ul.navigation-list
        li.navigation-list__item='HOME'
        li.navigation-list__item='FEATURES'
        li.navigation-list__item='PRICING'
        
