mixin list-item(params={})
    -const {mods='',text=''}=params;
    //-mods:black'
    -const className = 'list__item';
    -
     let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
    li(class=className+modsClasses)
        span.list__item__box
        i.fa.fa-check
        span.list__item__text=text