mixin button(params={})
    - const{mods='',text='',directionArrow=false}=params;
    //-mods:'arrow','active','left','right','video','buy'
    -const className = 'button';
    -const modDirection = directionArrow=='left'?'button_left': directionArrow=='right'?'button_right':'';
    -
     let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
    
    
    button(type='button',class=className+modsClasses)=text
        if(mods=='arrow')
            if(directionArrow=='left')
                i.fas.fa-long-arrow-alt-left
            else if(directionArrow=='rigth')
                i.fas.fa-long-arrow-alt-right
        if(mods=='video')
            i.fas.fa-play
        