@import "./../../assets/scss/vars.scss";
.button {
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    padding: 13px 40px;
    font-size: 14px;
    font-weight: 500;
    background-color: $white;
    &_arrow {
        border-radius: 50%;
    }
    &_active {
        background-image: $main-gradient;
    }
    &_video {
        padding:0;
        border-radius: 50%;
        color: white;
        background-image: $main-gradient;
        font-size: 25px;
        width: 75px;
        height: 75px;
        background-color: #333333;
    }
    &_buy {
        width: 139px;
        height: 40px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        border: 3px solid rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        background-image: $main-gradient;
    }
    #{$hover} {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        border: 5px solid rgba(0, 0, 0, 0.1);
    }
}
