@import "./../../assets/scss/vars.scss";
.button {
    font-family: $font-main;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    height:50px;
    border-radius: 25px;
    padding: 13px 40px;
    //-font-size: 14px;
    font-weight: bold;
    background-color: $white;
    border: 5px solid transparent;
    background-clip: padding-box;
    #{$hover} {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
        border: 5px solid rgba(0, 0, 0, 0.1);
    }
    &_arrow {
        padding:0;
        width:40px;
        height: 40px;
        color: #777777;
        border: 1px solid #eeeeee;
        border-radius: 50%;
        line-height: 30px;
        #{$hover} {
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
            border: 5px solid rgba(0, 0, 0, 0.1);
            background-image: $main-gradient;
            color:$white;
        }
    }
    /*
    &_active {
        background-image: $main-gradient;
    }
    */
    &_video {
        padding: 0;
        border-radius: 50%;
        color: white;
        background-image: $main-gradient;
        font-size: 25px;
        width: 75px;
        height: 75px;
        background-color: #333333;
    }
    &_buy {
        padding: 0;
        width: 139px;
        height: 40px;
        border-radius: 20px;
        background-color: #ffffff;
        border: 1px solid $light-gray;
        color:$price-text-color;
        #{$hover} {
            color: $white;
            border: 3px solid rgba(0, 0, 0, 0.1);
            background-image: $main-gradient;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        }
    }
}
