$main-gradient:linear-gradient(to right, #fd712c 0%, #f21780 100%);
$white:#ffffff;
$font-main: "Roboto", Arial, sans-serif;
$font-secondary:"Dosis", Arial, sans-serif;

$hover: "&:hover, &:focus, &:active";
