mixin btn(params={})
    - const{mods='',text=''}=params;
    //-mods:'white'
    -const className = 'button';
    -
     let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
    
    
    button(type='button',class=className+modsClasses)=text
        