@import "./../../assets/scss/vars.scss";
.social-icons {
    width: 155px;
    line-height: 36px;
    font-size: 18px;
    display: flex;
    flex: row;
    justify-content: space-between;
    i {
        #{$hover} {
            color: $pink;
            cursor: pointer;
        }
    }
}
