mixin feature(params={})
    - const {iconCode='',title='',text=''}=params;
    .feature
        .feature__icon=iconCode
        .feature__text-conteiner
            .feature__title=title
            .feature__text=text
