mixin feature(params={})
    - const {iconClass='',title='',text=''}=params;
    .feature
        .feature__icon
            i(class="fa "+iconClass)
        .feature__text-conteiner
            .feature__title=title
            .feature__text=text
