@import "./../../assets/scss/vars.scss";
.testimonial{
    padding: 40px 60px 40px 40px;
    width:100%;
    max-width: 362px;
    min-height: 275px;
    background: $gray-background;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &_current{
        background: $white;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
    &__user{
        display: flex;
        flex-direction: row;
        align-items: center;
        &__about{
            margin-left:20px;
            &__username{
                font-family: $font-secondary;
                color:$secondary-text-color;
                font-size: 18px;
                font-weight: bold;
                line-height: 24px;
            }
            &__company{

            }
        }
    }
}